<div class="container">
    <h2 class="mt-5 mb-3">Delete review</h2>
    <form action="/review/delete/<%= review.review_id %>" method="post">
      <div class="mb-3">
        <label for="inputBookTitle">Book Title:</label>
            <input readonly type="text" class="form-control shadow-none mb-3" id="inputBookTitle" name="BookTitle"
                value="<%= review.book_title %>">
            <label for="inputBookAuthor">Book Author:</label>
            <input readonly autofocus type="text" class="form-control shadow-none mb-3" id="inputBookAuthor" name="BookAuthor"
                value="<%= review.book_author %>">
            <label for="inputRating">Rating (1-10):</label>
            <input readonly autofocus type="number" class="form-control shadow-none mb-3" id="inputRating" name="Rating" min="1"
                max="10" value="<%= review.rating %>">
            <label for="inputComments">Comments:</label>
            <input readonly autofocus type="text" class="form-control shadow-none mb-3" id="inputComments" name="Comments"
                value="<%= review.comments %>">
      </div>         
      <button type="submit" class="btn btn-danger">Delete</button>
      <a class="btn btn-outline-dark cancel" href="/">Cancel</a>
    </form>
  </div>